{% extends 'matrix/base.html' %}
{% load static %}

{% block content %}
{% include 'matrix/navbar.html' %}
<h1 class="display-4">Rejoindre des salons Matrix</h1>
<p>Bienvenue, <code>{{ matrix_user.matrix_user }}</code> ({{ matrix_user }})</p>

<div class="list-group">
    {% for r in rooms %}
    <div class="list-group-item {% if r.invited %}list-group-item-success{% endif %}">
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{r.name}}</h5>
            {% if r.invited %}
            <button class="btn btn-secondary" disabled>Invité</button>
            {% endif %}
            {% if r.invited %}
            {% else %}
                <form class="form_no_margin" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="room_id" value="{{ r.id }}"></input>
                    <button class="btn btn-primary">Rejoindre</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
